/* front-page */
@page {
  margin: 0; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.content {
  padding: 1px;
  text-align: center;
  background-color: cmyk(0, 67%, 71%, 10%);
  width: 100%;
  height: 100%; }

.title {
  font-family: sans-serif;
  /* padding-top: 15px; */
  color: cmyk(0, 0, 0, 0);
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: bold; }

.footer-content {
  padding-top: 90%;
  text-align: center;
  background-color: cmyk(0, 67%, 71%, 10%);
  width: 100%;
  height: 100%; }

.text-footer {
  font-size: 1.6rem;
  color: cmyk(0, 0, 0, 0);
  padding-top: -10px; }

.logo-footer {
  width: 60%; }

/* second-page */
.cover-bg {
  position: relative;
  z-index: -1; }

.cover-text {
  position: absolute;
  z-index: 1;
  top: 0;
  text-align: center;
  width: 100%; }

.issue-date {
  padding-top: 38%;
  text-align: start;
  margin-left: 20%; }

.title-header {
  padding: 40px 10px 30px 10px;
  color: cmyk(0, 59%, 68%, 8%);
  font-size: 1.2rem;
  text-transform: uppercase; }

.title-content {
  font-size: 2.4rem;
  color: cmyk(0, 0, 0, 100);
  padding: 20px;
  text-transform: uppercase; }

.last-page-address {
  position: absolute;
  z-index: 2;
  padding-left: 13%;
  padding-top: 5%;
  top: 0;
  left: 0; }

.newsletter {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  z-index: 1;
  padding-bottom: -10px; }

.cover-text1 {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  padding-bottom: -10px; }

.last-header {
  color: cmyk(0, 59%, 68%, 8%);
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: start; }

.address-container {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0;
  font-size: 11.8px; }

.address-content {
  padding-bottom: -19px; }

.red-line {
  height: 2px;
  width: 80%;
  color: cmyk(0, 59%, 68%, 8%);
  text-align: start; }

.bg-container {
  position: relative;
  z-index: -5; }

.page-number-left {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 15px;
  color: cmyk(0, 0, 0, 0);
  font-size: 1.4rem; }

.page-number-lefttwo {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 8px;
  color: cmyk(0, 0, 0, 0);
  font-size: 1.3rem;
  width: 15%; }

.profile-pic {
  position: absolute;
  top: 15%;
  margin: 0;
  padding: 0;
  left: 30%;
  width: 150px;
  z-index: 2; }

.img-border {
  position: absolute;
  width: 100px;
  z-index: 3;
  left: 26%;
  top: 27%; }

.img-broder-b {
  filter: grayscale(1);
  filter: saturate(2.2); }

.profile-details {
  position: absolute;
  top: 40%;
  left: 5%;
  z-index: 3;
  padding: 30px; }

.profile-text {
  font-size: 1rem;
  padding-bottom: 20px; }
  .profile-text .tgray {
    color: cmyk(0, 0, 0, 50%);
    font-size: .8rem; }

.sign {
  position: absolute;
  top: 80%;
  right: 15%;
  z-index: 3; }

.perso-info-bg {
  position: relative;
  z-index: -1; }

.page-number-right {
  position: absolute;
  z-index: 1;
  top: -15px;
  right: 20px;
  color: cmyk(0, 0, 0, 0);
  font-size: 1.4rem; }

.page-number-righttwo {
  position: absolute;
  z-index: 1;
  top: -15px;
  right: -8px;
  color: cmyk(0, 0, 0, 0);
  font-size: 1.3rem;
  width: 15%; }

.SVI-heading {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50;
  top: 120;
  right: 0;
  border: 1px solid black; }

.profile-text2 {
  font-size: 1rem;
  padding-bottom: 12px; }
  .profile-text2 .tgray2 {
    color: cmyk(0, 0, 0, 50%);
    font-size: .9rem; }

.gender {
  position: absolute;
  z-index: 1;
  top: 26%;
  right: 22%; }

.header-info {
  position: absolute;
  z-index: 1;
  top: 12%;
  left: 15%; }

.title-add {
  text-transform: uppercase;
  font-size: 1.5rem; }

.SVI-additonal-info {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 10%; }

.profile-text3 {
  padding-bottom: 20px;
  font-size: 1.1rem; }
  .profile-text3 .tgray2 {
    color: cmyk(0, 0, 0, 50%);
    font-size: .9rem; }

.header-project {
  position: absolute;
  z-index: 3;
  top: 13%;
  left: 20%; }

.title-pro {
  text-transform: uppercase;
  font-size: 1.5rem; }

.pro-info {
  position: absolute;
  z-index: 3;
  top: 24%;
  left: 11%; }

.pro-sign {
  position: absolute;
  bottom: 10%;
  right: 15%;
  z-index: 3; }

/*# sourceMappingURL=style.css.map */