.header-info {
    position: absolute;
    z-index: 1;
    top: 12%;
    left: 15%;

}

.title-add {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.SVI-additonal-info {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 10%;
}

.profile-text3 {
    padding-bottom: 20px;
    font-size: 1.1rem;

    .tgray2 {
        color: $text-profile;
        font-size: .9rem;
    }
}