.header-project {
    position: absolute;
    z-index: 3;
    top: 13%;
    left: 20%;

}

.title-pro {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.pro-info {
    position: absolute;
    z-index: 3;
    top: 24%;
    left: 11%;
}

.pro-sign {
    position: absolute;
    bottom: 10%;
    right: 15%;
    z-index: 3;
}